.page {
  background: #f0f0f0;
  padding: 20px;
  margin: 20px;
}

.pmv-container {
  display: flex;
  justify-content: space-between; /* Puedes ajustar esto según tus necesidades */
}

.pmv-item {
  width: 30%; /* Ajusta el ancho de los elementos según tus necesidades */
  text-align: center; /* Centra el contenido */
}

/* Estilo para el contenedor del formulario */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Estilo para el contenedor del formulario */
.form-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: flex-start; /* Alinea en la parte superior verticalmente */
  height: 100vh;
}

/* Estilo para el formulario */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

/* Estilo para los elementos del formulario */
label, input, textarea {
  display: block;
  margin: 5px 0;
  width: 100%;
  font-weight: bold;
}

.submit-button {
  width: auto; /* El tamaño se ajustará automáticamente al contenido */
  background-color: #0074d9; /* Fondo azul */
  color: #ffffff; /* Texto blanco */
  padding: 10px 20px; /* Relleno del botón (ajusta según lo necesario) */
  border: none; /* Sin borde */
  cursor: pointer;
  font-weight: bold; /* Hace que el texto sea más audaz */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para el botón al pasar el cursor sobre él */
.submit-button:hover {
  background-color: #0056b3; /* Color azul más oscuro en el hover */
}
