/* Home.css */
.home-container {
    /* Asegúrate de reemplazar 'ruta/a/tu/imagen' con la ruta real a tu imagen de fondo */
    background-image: url('./fondo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-title {
    color: #fff;
    font-size: 3em;
  }
  